config | clipboard: yes
+ vfs
  + dir dev
  | + dir pipe
  | | + pipe
  | + log
  | + jitterentropy entropy
  | + xoroshiro random | seed_path: /dev/entropy
  | + xoroshiro urandom | seed_path: /dev/entropy
  | + rtc
  | + oss dsp | min_ofrag_size: 8192
  | + capture
  | + gpu
  + dir .config
  | + fs | label: config -> /
  + dir Downloads
  | + fs | label: downloads -> /
  + dir shm
  | + qtwebengine_shm
  + dir socket
  | + lwip | dhcp: yes
  + dir tmp
  | + ram
  + tar qt5_dejavusans.tar
  + tar qt5_declarative_qml.tar
  + tar qt5_libqgenode.tar
  + tar qt5_libqsqlite.tar
  + tar qt5_libqsvg.tar
  + tar qt5_graphicaleffects_qml.tar
  + tar qt5_quickcontrols2_qml.tar
  + tar qt5_webengine_qml.tar
  + tar qt5_webengine_resources.tar
  + tar qt5_webengine_translations.tar
  + tar ubuntu-ui-toolkit_qml.tar
  + tar ubuntu-ui-extras_qml.tar
  + tar morph-browser_qml.tar
  + tar ubuntu-themes.tar
  + ram
+ libc
  |    stdout: /dev/log
  |    stderr: /dev/log
  |    pipe:   /dev/pipe
  |    rtc:    /dev/rtc
  |    socket: /socket
  |    pid:    1
  + mmap | align_log2: 21
+ arg morph-browser
+ arg --single-process
+ arg --no-sandbox
+ arg --disable-gpu-compositing
+ arg --enable-logging
+ arg --log-level=3
+ arg --v=0
-
