config | nic_client_enable: yes
+ network | apn: internet.eplus.de | user: eplus | password: eplus | pin: XXXX
+ default-domain
                 interface: 10.0.3.1/24
                 ip_first:  10.0.3.2
                 ip_last:   10.0.3.200
+ vfs
  + dir dev
  | + log
  | + inline rtc
  | | : 2020-08-05 00:01
  | + dir pipe
  | | + pipe
  | + terminal cdc-wdm0 | raw: yes
  + ram
+ libc | stdout: /dev/log | stderr: /dev/log | rtc: /dev/rtc | pipe: /dev/pipe
-
