config | clipboard: yes
+ vfs
  + dir dev
  | + dir pipe
  | | + pipe
  | + log
  | + jitterentropy entropy
  | + xoroshiro random | seed_path: /dev/entropy
  | + xoroshiro urandom | seed_path: /dev/entropy
  | + rtc
  | + oss dsp | min_ofrag_size: 8192
  | + capture
  | + gpu
  + dir .config
  | + fs | label: config -> /
  + dir downloads
  | + fs | label: downloads -> /
  + dir shm
  | + qtwebengine_shm
  + dir socket
  | + lwip | dhcp: yes
  + dir tmp
  | + ram
  + tar qt6_dejavusans.tar
  + tar qt6_declarative_qml.tar
  + tar qt6_libqgenode.tar
  + tar qt6_libqsqlite.tar
  + tar qt6_libqsvg.tar
  + tar qt6_webengine_qml.tar
  + tar qt6_webengine_resources.tar
  + tar qt6_webengine_translations.tar
  + tar falkon_theme.tar
  + ram
+ libc
  |    stdout: /dev/log
  |    stderr: /dev/log
  |    pipe:   /dev/pipe
  |    rtc:    /dev/rtc
  |    socket: /socket
  |    pid:    1
  + mmap | align_log2: 21
+ arg falkon
+ arg --webEngineArgs
+ arg --single-process
+ arg --no-sandbox
+ arg --disable-gpu-compositing
+ arg --disable-gpu-shader-disk-cache
+ arg --enable-logging
+ arg --log-level=3
+ arg --v=0
+ env QT_QUICK_BACKEND | : software
-
