config
+ parent-provides
  + service LOG
  + service CPU
  + service RM
  + service PD
  + service ROM
  + service TRACE
  + service VM
  + service Timer
  + service Rtc
  + service Gui
  + service Nic
  + service Event
  + service Capture
  + service Play
  + service Record
  + service Usb
  + service Gpu
  + service File_system
  + service Report

+ default-route
  + service File_system
  | + child run_dir_fs
  + any-service
    + parent
    + any-child

+ default | caps: 100

+ start fs_rom | ram: 200M
  + provides
  | + service ROM
  + config

+ start fs_report | ram: 2M
  + provides
  | + service Report
  + config
    + vfs
      + fs

+ start log_terminal | ram: 2M
  + binary file_terminal
  + provides
  | + service Terminal
  + config
    + default-policy | filename: log
    + vfs
    | + dir dev
    | | + log
    | + fs
    + libc | stdout: /dev/log

+ start log | ram: 1M
  + binary terminal_log
  + provides
  | + service LOG
  + config
  + route
    + service Terminal
    | + child log_terminal
    + any-service
      + parent

+ start run_dir_fs | caps: 200 | ram: 200M
  + binary vfs
  + provides
  | + service File_system
  + config
    + vfs
    | + ram
    | + import
    |   + dir data
    |     + dir report
    |       + inline log
    |         : ### start ###
    + policy | label_prefix: lighttpd ->  | root: /data | writeable: yes
    + policy
    |        label_prefix: fs_report -> 
    |        root:         /data/report
    |        writeable:    yes
    + policy
    |        label_prefix: log_terminal -> 
    |        root:         /data/report
    |        writeable:    yes
    + policy | label_prefix: log_mux ->  | root: /data/report | writeable: no
    + default-policy | root: /data | writeable: no

+ start log_mux | ram: 2M
  + binary stdin2out
  + config
  | + libc | stdin: /report/log | stdout: /dev/terminal
  | + vfs
  |   + dir dev
  |   | + terminal
  |   + dir report
  |     + fs
  + route
    + service File_system
    | + child run_dir_fs
    + service Terminal
    | + child tcp_terminal_log
    + any-service
      + parent
      + any-child

+ start lighttpd | caps: 200 | ram: 100M
  + config
  | + arg | value: lighttpd
  | + arg | value: -f
  | + arg | value: /etc/lighttpd/lighttpd.conf
  | + arg | value: -D
  | + vfs
  | | + dir dev
  | | | + log
  | | | + null
  | | | + rtc
  | | | + jitterentropy random
  | | + dir socket
  | | | + lwip | dhcp: yes
  | | + dir etc
  | | | + dir lighttpd
  | | |   + rom lighttpd.conf
  | | + dir webroot
  | | | + fs
  | | + dir tmp
  | |   + ram
  | + libc
  |        stdin:  /dev/null
  |        stdout: /dev/log
  |        stderr: /dev/log
  |        rtc:    /dev/rtc
  |        rng:    /dev/random
  |        socket: /socket
  + route
    + service Nic
    | + parent | label: http
    + service File_system
    | + child run_dir_fs
    + any-service
      + parent

+ start tcp_terminal_log | caps: 110 | ram: 8M
  + binary tcp_terminal
  + provides
  | + service Terminal
  + config
  | + policy | label_prefix: log_mux -> | port: 23
  | + vfs
  | | + dir dev
  | | | + log
  | | + dir socket
  | | | + lwip | dhcp: yes
  | | + dir pipe
  | |   + pipe
  | + libc | stdout: /dev/log | socket: /socket | pipe: /pipe
  + route
    + service Nic
    | + parent | label: telnet
    + any-service
      + parent

+ start tcp_terminal_gdb | caps: 110 | ram: 8M
  + binary tcp_terminal
  + provides
  | + service Terminal
  + config | ld_verbose: yes
  | + policy | label: monitor ->  | port: 9999
  | + vfs
  | | + dir dev
  | | | + log
  | | + dir socket
  | | | + lwip | dhcp: yes
  | | + dir pipe
  | |   + pipe
  | + libc | stdout: /dev/log | socket: /socket | pipe: /pipe
  + route
    + service Nic
    | + parent | label: gdb
    + any-service
      + parent

+ start monitor | caps: 6000 | ram: 1G
  + route
    + service ROM | label: init
    | + parent
    + service ROM | unscoped_label: ld.lib.so
    | + parent
    + service ROM | label_last: ld.lib.so
    | + parent
    + service ROM | label_last: monitor
    | + parent
    + service ROM | label_last: sandbox.lib.so
    | + parent
    + service ROM | label_last: mesa_gpu.lib.so
    | + parent | label: mesa_gpu.lib.so
    + service ROM | label_last: platform_info
    | + parent | label: platform_info
    + service ROM | label_last: clipboard
    | + parent | label: clipboard
    + service ROM | label_last: capslock
    | + parent | label: capslock
    + service ROM | label_last: ld.lib.so.local
    | + child fs_rom | label: ld.lib.so
    + service Report | label_last: shape
    | + parent | label: shape
    + service Report | label_last: clipboard
    | + parent | label: clipboard
    + service ROM
    | + child fs_rom
    + service Report
    | + child fs_report
    + service LOG
    | + child log
    + service Terminal
    | + child tcp_terminal_gdb
    + service CPU
    | + parent
    + service RM
    | + parent
    + service PD
    | + parent
    + service TRACE
    | + parent
    + service VM
    | + parent
    + service Timer
    | + parent
    + service Rtc
    | + parent
    + service Gui
    | + parent
    + service Nic
    | + parent
    + service Event
    | + parent
    + service Capture
    | + parent
    + service Play
    | + parent
    + service Record
    | + parent
    + service Usb
    | + parent
    + service Gpu
    | + parent
    + service File_system
      + parent
-
